<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" style="width:80px; justify-content: center;">
        <img src="../../assets/pleasework.png">
      </a>
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="/About" class="navbar-item">
          About
        </a>

        <div class="navbar-item field has-addons has-addons-right">
            <p class="control">
              <input class="input" type="text" placeholder="">
            </p>
            <p class="control">
              <a class="button is-primary">
                Search
              </a>
            </p>
          </div>
      </div>
      
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons are-small">
            <a class="button is-info">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
<app-todo-list></app-todo-list>